* text=auto eol=lf

# Generated source files
gotmpl/src/*.json linguist-generated
gotmpl/src/parser.c linguist-generated
gotmpl/src/tree_sitter/* linguist-vendored

goyamltmpl/src/*.json linguist-generated
goyamltmpl/src/parser.c linguist-generated
goyamltmpl/src/tree_sitter/* linguist-vendored
